<template>
  <section class="row col-12 m-0">
    <header class="col-12 col-md-10 col-lg-8 col-xl-6 text-center mx-auto text-grey-50">
      <h2 class="col-12 text-nano">
        Benefit
      </h2>
      <p class="col-12">
        Why Nanowatch For You'r Business
      </p>
    </header>
    <main class="row m-0">
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          Cloud
        </h6>
        <p>
          Public clouds are owned and operated by a third-party cloud service providers, which deliver their computing resources, like servers and storage, over the Internet. ... With a public cloud, all hardware, software, and other supporting infrastructure is owned and managed by the cloud provider.
        </p>
      </div>
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          API
        </h6>
        <p>In computer programming, an application programming interface is a set of subroutine definitions, communication protocols, and tools for building software. In general terms, it is a set of clearly defined methods of communication among various components.</p>
      </div>
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          For All
        </h6>
        <p>Registration and calculation of part-time and telework personnel</p>
      </div>
      <div class="col-12 my-6" />
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          Multi Company And Multi Company Of Branch
        </h6>
        <p>Ability to add multiple companies or multiple branches for business, with the ability to synchronize and quickly and easily access the moment in each location.</p>
      </div>
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          Analytics
        </h6>
        <p>Extremely advanced and functional reporting system in the form of dynamic charts and Excel charts</p>
      </div>
      <div class="col-12 col-lg-5 col-xl-3 bg-grey-50 rounded-7 hs-3 hs-h-4 p-4 mx-auto my-3 text-justify text-justify-last">
        <h6 class="col-12 h5 p-0 text-nano text-default">
          Ability To Observe The Moment Of Presence And Absence Of Personnel
        </h6>
        <p>With the use of technology and using the capability of the CLOUD, the NanoWatch always keeps business and staff information up-to-the-minute and accessible at any moment and place.</p>
      </div>
    </main>
  </section>
</template>

<script>
export default {
}
</script>

<style scoped>

</style>
