<template>
  <section class="row col-12 m-0">
    <header class="col-12 col-md-10 col-lg-8 col-xl-6 text-center mx-auto text-grey-50">
      <h2 class="col-12 text-nano">
        Contact With NanoWatch
      </h2>
      <p class="col-12">
        Send us an email. Drop us a line. Or just drop in.
      </p>
    </header>
    <main class="row m-0 col-12 mt-6">
      <div class="col-12 col-lg-8 col-xl-6 mx-auto">
        <script type="text/javascript">
          var submitted = false
        </script>
        <iframe
          id="hidden_iframe"
          name="hidden_iframe"
          style="display:none;"
          onload="if(submitted) {window.location='thankyou';}"
        />
        <form
          class="col-12 text-grey-50"
          action="https://docs.google.com/forms/d/e/1FAIpQLSdVaS3Ib0_i3xxvSeBB9ffjMb7mkc2VX0WpnYSJ8EvBOxwoDQ/formResponse"
          method="POST"
          target="hidden_iframe"
          onsubmit="submitted=true;"
        >
          <div class="form-row">
            <div class="form-group col-md-6 my-3">
              <label for="inputName" class="text-nano">Name</label>
              <input id="inputName" name="entry.2005620554" type="text" class="form-control text-grey-50" required>
            </div>
            <div class="form-group col-md-6 my-3">
              <label for="inputEmail" class="text-nano">Email</label>
              <input id="inputEmail" name="entry.1045781291" type="email" class="form-control text-grey-50" required>
            </div>
          </div>
          <div class="form-group my-3">
            <label for="inputAddress" class="text-nano">Address</label>
            <textarea id="inputAddress" name="entry.1065046570" class="form-control text-grey-50" rows="2" />
          </div>
          <div class="form-group my-3">
            <label for="inputComments" class="text-nano">Comments</label>
            <textarea id="inputComments" name="entry.839337160" class="form-control text-grey-50" rows="2" />
          </div>
          <button type="submit" class="btn btn-default">
            Submit
          </button>
        </form>
      </div>
    </main>
  </section>
</template>

<script>
export default {}
</script>

<style scoped>

</style>
