<template>
  <header class="row col-12 col-md-11 col-lg-9 col-xl-7 text-center mx-auto">
    <h1 class="text-grey-50 display-3 text-nano mt-12 mt-lg-11 col-12">
      NanoWatch
      <br>
      Time And Attendance
    </h1>
    <div class="row col-12 col-lg-6 mx-auto my-3">
      <a href="https://apps.apple.com/ca/app/nanowatch/id1474516519" class="col-12 col-xl-5 mx-auto my-3">
        <img src="~assets/Apple.svg" alt="Download For iOS">
      </a>
      <a href="https://play.google.com/store/apps/details?id=ca.nanowatch.app" class="col-12 col-xl-5 mx-auto my-3">
        <img src="~assets/Google.svg" alt="Download For Android">
      </a>
      <a href="http://app.nanowatch.ca/nanowatch.apk" class="btn col-12 col-xl-5 mx-auto my-2 btn-unite btn-unite-grey-50 my-3">
        Direct Download
      </a>
    </div>
  </header>
</template>

<script>
export default {}
</script>

<style scoped>
/*img{*/
/*  height: 4rem;*/
/*}*/
</style>
