<template>
  <main class="container-fluid">
    <div class="hero-image row" />
    <Hero />
    <hr id="Benefit" class="my-10">
    <Benefit />
    <hr id="ContactUs" class="my-8">
    <ContactUs />
    <hr class="my-8">
  </main>
</template>

<script>
import Hero from '~/components/main/Hero.vue'
import Benefit from '~/components/main/Benefit.vue'
import ContactUs from '~/components/main/ContactUs.vue'

export default {
  components: {
    Hero,
    Benefit,
    ContactUs
  }
}
</script>

<style scoped>
  .hero-image {
    background-image: linear-gradient(#aa00ffaa, #311b92aa), url("~static/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
  }
</style>
