<template>
  <div>
    <MainNavbar />
    <Main />
    <MainFooter />
  </div>
</template>

<script>
import MainNavbar from '~/components/header/MainNavbar.vue'
import MainFooter from '~/components/footer/MainFooter.vue'
import Main from '~/components/main/Main.vue'

export default {
  components: {
    MainNavbar,
    Main,
    MainFooter
  }
}
</script>

<style>

</style>
