<template>
  <div>
    <MainNavbar/>
    <main class="container-fluid">
      <div class="hero-image row"/>
      <div class="row text-center justify-content-center align-content-center align-items-center p-3 py-12">
        <!--        <hr class="p-12 p-sm-12 p-md-10 p-lg-11 p-xl-10 my-12 my-sm-12 my-md-12 my-lg-12 my-xl-11 w-100">-->
        <h1 class="col-12 text-center text-nano text-grey-50 text-weight-light">
          NanoWatch® Privacy Policy
        </h1>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <h2 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            Security
          </h2>
          <p class="text-grey-50 text-justify">
            NanoWatch is committed to protecting the privacy of individuals who visit our website (“Visitors”) and
            individuals who register to use the NanoWatch® Services on behalf of NanoWatch’s Clients (“Users”)
            (collectively “you” or “your”). This Privacy Policy applies to data provided on or through the NanoWatch®
            website located at www.nanowatch.ca, the NanoWatch® web application owned and operated by NanoWatch, and the
            services offered by NanoWatch through the website and apps (collectively, the “Services”) and describes
            NanoWatch’s privacy practices in connection with the use of NanoWatch's website, apps and Services. It also
            describes the choices available to you regarding the use of your Personal Information (defined below) and
            how you can access and update this information. The use of information collected through the NanoWatch®
            Services shall be limited to the purposes of providing the Services for which the User or Client has engaged
            NanoWatch and as otherwise described in this Privacy Policy.
          </p>
        </div>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <p class="text-grey-50 text-justify">
            IF YOU ARE AN EMPLOYEE OF A CLIENT THAT USES THE NANOWATCH® SERVICES, THIS PRIVACY POLICY DOES NOT APPLY TO
            YOU OR YOUR USE OF THE SERVICES. PLEASE REFER TO YOUR EMPLOYER’S PRIVACY POLICY, WHICH APPLIES TO THE
            COLLECTION, USE, PROCESSING AND RETENTION OF YOUR PERSONAL INFORMATION. INDIVIDUAL EMPLOYEES OF OUR CLIENTS
            WHO SEEK ACCESS TO THEIR DATA, OR WHO SEEK TO CORRECT, AMEND, OR DELETE INACCURATE DATA SHOULD DIRECT THEIR
            REQUESTS TO THEIR EMPLOYERS WHO ARE NANOWATCH’S CLIENTS. NANOWATCH CLIENTS ARE ABLE TO REMOVE AND UPDATE
            PERSONAL INFORMATION AND DATA WITHOUT NANOWATCH’S INVOLVEMENT.
          </p>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h3 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            Privacy Principals
          </h3>
          <p class="text-grey-50 text-justify">
            NanoWatch follows these principals in order to protect your privacy:
          </p>
          <ul class="text-left text-grey-50">
            <li><p>we do not collect any more Personal Information than is necessary to provide the Services;</p></li>
            <li>
              <p>
                we only use your Personal Information for the purposes we specify in this Privacy Policy, unless you
                agree otherwise;
              </p>
            </li>
            <li><p>we do not keep your Personal Information if it is no longer needed; and</p></li>
            <li>
              <p>
                other than as we specify in this Privacy Policy, we do not share your Personal Information with third
                parties.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h3 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            What Information Do We Collect?
          </h3>
          <p class="text-grey-50 text-justify">
            When a User registers with NanoWatch, information is needed such as the User’s name, company name, business
            address, contact telephone number and email address. A billing address and credit card information is also
            required if the User has chosen a paid account. When a Visitor to our website contacts us and/or requests
            information about NanoWatch, we will collect the Visitor’s email address and other contact information so
            that we may fulfill the Visitor’s request. Some information provided to us may, either alone or when
            connected with other information to which we may have access, individually identify a Visitor or User, and
            that information may be referred to in this Privacy Policy as “Personal Information.”
          </p>
          <ul class="text-left text-grey-50">
            <li><p>we do not collect any more Personal Information than is necessary to provide the Services;</p></li>
            <li>
              <p>
                we only use your Personal Information for the purposes we specify in this Privacy Policy, unless you
                agree otherwise;
              </p>
            </li>
            <li><p>we do not keep your Personal Information if it is no longer needed; and</p></li>
            <li>
              <p>
                other than as we specify in this Privacy Policy, we do not share your Personal Information with third
                parties.
              </p>
            </li>
            <li>
              <p>Location data (employee). NanoWatch collects this data when the NanoWatch app is running in the
                foreground
                (app open and on-screen) or background (app open but not on-screen) depending on your NanoWatch app
                settings
                and device permissions as well as whether you are using the platform as a employee. We collect precise
                or
                approximate location data from employee’s mobile devices if they enable us to do so. NanoWatch collects
                this
                data from the start tracking time until it is finished. We use this data to provide to your
                supervisors.NanoWatch collects employee location data, and links location data collected during a trip
                with
                their account.
              </p>
            </li>
          </ul>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h3 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            How Do We Protect Your Information?
          </h3>
          <p class="text-grey-50 text-justify">
            All of your Personal Information remains private and confidential. The security of your Personal Information
            is important to us. When you enter sensitive information (such as a credit card number) on our order forms,
            we encrypt the transmission of that information using secure socket layer technology (SSL).
            <br>
            <br>
            We follow generally accepted standards to protect Personal Information submitted to us, both during
            transmission and once we receive it. No method of transmission over the Internet, or method of electronic
            storage, however, is 100% secure. Therefore, we cannot guarantee its absolute security. If you have any
            questions about security on our website, the NanoWatch® web application owned and operated by NanoWatch, or
            the Services, please contact us using the contact information below.
            <br>
            <br>
            NanoWatch and its representatives will never request your account credentials. You should never share your
            NanoWatch account information, including your username and password, with anyone else. We recommend that you
            use a unique password for your NanoWatch account that is not associated with other websites. You should
            check
            your NanoWatch account regularly to ensure that your Personal Information has not been tampered with or
            altered.
            <br>
            <br>
            Any suspicious activity regarding your account, including automated messages or calls from parties you
            cannot identify, should be reported to your site administrator and NanoWatch using the contact information
            below.
          </p>
        </div>
        <!--        <hr class="p-12 p-sm-12 p-md-10 p-lg-11 p-xl-10 my-12 my-sm-12 my-md-12 my-lg-12 my-xl-11 w-100">-->
      </div>
    </main>
    <MainFooter/>
  </div>
</template>

<script>
import MainNavbar from '~/components/header/MainNavbar.vue'
import MainFooter from '~/components/footer/MainFooter.vue'

export default {
  components: {
    MainNavbar,
    MainFooter
  }
}
</script>

<style scoped>
.hero-image {
  background-image: linear-gradient(#aa00ffbb, #311b92bb), url("~static/background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  filter: blur(5px);
}
</style>
