<template>
  <div>
    <MainNavbar />
    <main class="container-fluid">
      <div class="hero-image row" />
      <div class="row text-center justify-content-center align-content-center align-items-center p-3 py-12">
        <!--        <hr class="p-10 p-sm-12 p-md-6 p-lg-7 p-xl-6 my-10 my-sm-11 my-md-9 my-lg-8 my-xl-7">-->
        <h1 class="col-12 text-center text-nano text-grey-50 text-weight-light">
          Security And Privacy Surfacing
        </h1>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <h2 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            Security
          </h2>
          <p class="text-grey-50 text-justify">
            We know you’re trusting NanoWatch with your data, and we take that responsibility very seriously. That’s why
            we practice Defense in Depth, a principle for securing content at all steps instead of simply at the
            application edge points. We keep your data locked down at every level, and we take multiple measures to
            ensure it stays that way. Here are just some of the measures we take to prevent data leaks and unauthorized
            data access:
          </p>
          <ul class="text-grey-50 text-left">
            <li>
              Defense in Depth multi-level data security
            </li>
            <li>
              Frequent vulnerability scans
            </li>
            <li>
              Web application firewall
            </li>
            <li>
              Annual third-party SOC II security audit
            </li>
            <li>
              Input validation
            </li>
            <li>
              Annual penetration test
            </li>
          </ul>
        </div>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <p class="text-grey-50 text-justify">
            We understand that security is more than just creating a secure application—it involves monitoring,
            improving, and remaining vigilant against risks both internal and external.
            <br>
            <br>
            We can provide additional information, including compliance reports and attestation letters, upon request.
            <br>
            <br>
            Our customers’ data is hosted in the United States, Canada, or Ireland, depending on the location and needs
            of individual customers and applicable laws. All information is encrypted in transfer, and certain sensitive
            fields are encrypted at rest. In addition, the data center located in Ireland meets all of the data
            requirements of the European Union, European Economic Area, Switzerland, and the United Kingdom.
          </p>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h2 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            Privacy
          </h2>
          <p class="text-grey-50 text-justify">
            NanoWatch does not sell, share, or trade any customer data—period. Your information and your company’s
            information is not for sale, and never will be. Access to customer data is restricted to individuals who
            require that information to fulfill their job duties. All employees are subject to background checks before
            hiring, and we only hire individuals of the highest integrity.
          </p>
        </div>
        <!--      <hr class="p-10 p-sm-12 p-md-6 p-lg-7 p-xl-6 my-10 my-sm-11 my-md-9 my-lg-8 my-xl-7">-->
      </div>
    </main>
    <MainFooter />
  </div>
</template>

<script>
import MainNavbar from '~/components/header/MainNavbar.vue'
import MainFooter from '~/components/footer/MainFooter.vue'

export default {
  components: {
    MainNavbar,
    MainFooter
  }
}
</script>

<style scoped>
  .hero-image {
    background-image: linear-gradient(#aa00ffbb, #311b92bb), url("~static/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter: blur(5px);
  }
</style>
