<template>
  <div>
    <MainNavbar />
    <main class="container-fluid">
      <div class="hero-image row" />
      <div class="row text-center justify-content-center align-content-center align-items-center p-3 py-12">
        <!--        <hr class="p-12 p-sm-12 p-md-10 p-lg-11 p-xl-10 my-12 my-sm-12 my-md-12 my-lg-12 my-xl-11 w-100">-->
        <h1 class="col-12 text-center text-nano text-grey-50 text-weight-light">
          Terms of Service
        </h1>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <p class="text-grey-50 text-justify">
            YOUR USE OF THE PROPRIETARY NANOWATCH® SERVICE OFFERED AT NANOWATCH.CA (THE “SERVICE”), IS SUBJECT TO THESE
            TERMS OF SERVICE. IN ORDER TO USE THE SERVICE, YOU MUST AGREE TO BE BOUND BY THESE TERMS OF SERVICE
            (“AGREEMENT”) WITH (“NANOWATCH”). IF YOU DO NOT AGREE TO ALL TERMS OF THIS AGREEMENT, YOU MAY
            NOT USE THE SERVICE.
          </p>
        </div>
        <div class="col-11 col-xl-4 my-3 mx-auto">
          <p class="text-grey-50 text-justify">
            The NanoWatch® Privacy Policy
            <NuxtLink class="text-nano text-grey-50" to="/privacy">
              (available here)
            </NuxtLink>
            is incorporated herein by reference. This Agreement governs
            your use of the Service however accessed, including via an Internet browser, smartphone, tablet, or other
            mobile device.
            <br>
            <br>
            By signing up for the Service on behalf of a Client, you confirm that (a) you are duly authorized to
            represent the entity, (b) you accept the terms of this Agreement on behalf of such entity, and (c) any
            references to “you” in this Agreement refer to such entity and all of its employees, consultants and agents.
            You are responsible for all activity on the Service that occurs under your account.
          </p>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h2 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            The Service
          </h2>
          <p class="text-grey-50 text-justify">
            The NanoWatch® Service may include additional services that you subscribe to receive specifically from or
            through NanoWatch. Some of these services have specific additional terms that apply to your use of those
            additional services (the “Additional Terms”), and those Additional Terms become part of this Agreement. In
            the event an Additional Term directly conflicts with any term in this Agreement, the Additional Term will
            apply to your use of the additional service instead of the term contained in this Agreement.
          </p>
        </div>
        <div class="col-11 col-xl-10 my-3 mx-auto">
          <h3 class="col-12 text-center text-nano text-grey-50 text-weight-light">
            Term and Termination
          </h3>
          <p class="text-grey-50 text-justify">
            This Agreement will remain in effect as long as you have an active
            subscription for the Service (the
            “Term”). If you elect to use the Service for a free trial period, and do not purchase a subscription before
            the end of such period, this Agreement will expire at the end of the free trial period.
          </p>
        </div>
        <!--        <hr class="p-12 p-sm-12 p-md-10 p-lg-11 p-xl-10 my-12 my-sm-12 my-md-12 my-lg-12 my-xl-11 w-100">-->
      </div>
    </main>
    <MainFooter />
  </div>
</template>

<script>
import MainNavbar from '~/components/header/MainNavbar.vue'
import MainFooter from '~/components/footer/MainFooter.vue'

export default {
  components: {
    MainNavbar,
    MainFooter
  }
}
</script>

<style scoped>
  .hero-image {
    background-image: linear-gradient(#aa00ffbb, #311b92bb), url("~static/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter: blur(5px);
  }
</style>
