<template>
  <div>
    <MainNavbar />
    <main class="container-fluid">
      <div class="hero-image row" />
      <div class="row text-center vh-100 justify-content-center align-content-center align-items-center p-3">
        <h1 class="col-12 text-center text-nano text-grey-50 text-weight-light">
          Your message has been successfully received
        </h1>
        <NuxtLink to="/" class="btn col-12 col-xl-5 mx-auto my-2 py-3 btn-unite btn-unite-grey-50">
          Click to return home
        </NuxtLink>
      </div>
    </main>
    <MainFooter />
  </div>
</template>

<script>
import MainNavbar from '~/components/header/MainNavbar.vue'
import MainFooter from '~/components/footer/MainFooter.vue'

export default {
  components: {
    MainNavbar,
    MainFooter
  }
}
</script>

<style scoped>
  .hero-image {
    background-image: linear-gradient(#aa00ffaa, #311b92aa), url("~static/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    filter:blur(5px);
  }
</style>
