<template>
  <footer class="py-2 bg-default text-grey-50 position-fixed col-12">
    <div class="container text-center">
      <ul class="nav justify-content-center">
        <li class="nav-item small">
          <NuxtLink class="nav-link text-nano text-grey-50" to="/security-&-privacy-surfacing">
            Security And Privacy
          </NuxtLink>
        </li>
        <li class="nav-item small">
          <NuxtLink class="nav-link text-nano text-grey-50" to="/privacy">
            Privacy Policy
          </NuxtLink>
        </li>
        <li class="nav-item small">
          <NuxtLink class="nav-link text-nano text-grey-50" to="/terms">
            Terms of Service
          </NuxtLink>
        </li>
      </ul>
    </div>
    <div class="container text-center">
      <small>Copyright &copy; NanoWatch</small>
    </div>
  </footer>
</template>

<script>
export default {}
</script>

<style scoped>
  footer {
    flex-shrink: none;
    bottom: 0;
  }
</style>
