<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ms-4 ms-h-5 transform-none fixed-top">
    <NuxtLink class="navbar-brand" to="/">
      <img src="~assets/main-logo.svg" alt="">
    </NuxtLink>
    <div id="navbarNav" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <NuxtLink class="nav-link text-default text-nano" to="/">
            NanoWatch <span class="sr-only">(current)</span>
          </NuxtLink>
        </li>
        <li class="nav-item">
          <a v-scroll-to="'#Benefit'" class="nav-link text-default text-nano">
            Benefit
          </a>
        </li>
        <li class="nav-item">
          <a v-scroll-to="'#ContactUs'" class="nav-link text-default text-nano">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>
</template>

<script>
export default {}
</script>

<style scoped>
  nav {
    height: 4rem;
    z-index: 9999;
  }

  img {
    max-height: 3rem;
    height: auto;
    width: auto;
    min-width: 6rem;
  }
</style>
